.classroom-container {
  background:purple;
  margin-top: 5vh;
  margin-left: 3vh;
  margin-right: 3vh;

  .classroom-card{
    padding: 2vh;
  }
}

.classroom-header--container {
  margin-top: 2vh;
  margin-left: 3vh;
  margin-right: 3vh;

  .classroom-card{
    color: darkolivegreen;
    padding: 2vh;
    background-color: rgb(199, 214, 255);
  }
}